<div class="webcam">
    <video class="video {{selected}}" webcam autoplay ng-model="webcam"></video>
    <div class="filter-cont">
        <video 
            ng-class="{selected: selected === filter.name}"
            class="filter {{filter.name}}"
            webcam
            autoplay
            ng-repeat="filter in filters"
            ng-click="select(filter.name)"
            ng-model="filter"
        ></video>
    </div>
</div>
<div class="overlay">
    <span class="overlay-button back ion-ios-arrow-back" ui-sref="selector"></span>
    <span class="overlay-button right-1 ion-android-camera" ng-click="photo()" ng-class="{'ion-android-camera': !photoTaken, 'ion-refresh': photoTaken}"></span>
    <span
        class="overlay-button ion-share"
        ng-click="save()"
        ng-class="{'right-1': noCamera, 'right-2': !noCamera}"
        ng-show="photoTaken"></span>
</div>

<div bind-html-compile="filterTemplate"></div>