<div class="webcam">
    <video class="video {{selected}}" webcam autoplay ng-model="webcam"></video>
    <div class="filter-cont">
        <video 
            ng-class="{selected: selected === filter.name}"
            class="filter {{filter.name}}"
            webcam
            autoplay
            ng-repeat="filter in filters"
            ng-click="select(filter.name)"
            ng-model="filter"
        ></video>
    </div>
</div>
<div class="overlay">
    <span class="overlay-button back ion-ios-arrow-back" ui-sref="selector"></span>
    <span class="overlay-button photo ion-camera" ng-click="photo()" ng-class="{'ion-camera': !photoTaken, 'ion-refresh': photoTaken}"></span>
    <span class="overlay-button share ion-share" ng-class="{'no-camera': noCamera}" ng-show="photoTaken"></span>
</div>