#canvas {
	display: none;
}

.webcam {

	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.video {
		width: 100vw;
		height: auto;
		min-height: 0;
		background: black;
		object-fit: contain;
		flex-grow: 1;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.filter-cont {
		display: flex;
		z-index: 2;
	}

	.filter {
		object-fit: cover;
		width: calc(100vw / 6);
		height: calc(300vw / 24);
		background: black;
		cursor: pointer;
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
		&.selected {
			border: 0.6666vw solid #bada55;
		}
	}

}