body {
	margin: 0;
}

video {
	display: block;
	box-sizing: border-box;
}

.OpenMayfair {
	-webkit-filter: saturate(1.4) contrast(1.1);
}

.OpenNashville {
  	-webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
}

.OpenHefe {
  	-webkit-filter: contrast(1.3) sepia(0.3) saturate(1.3) hue-rotate(-10deg) brightness(0.95);
}

.OpenRise {
  	-webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
}

.OpenValencia {
  	-webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
}

.sweet-alert {
	.confirm  {
		box-shadow: rgba(186, 218, 85, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
    	background-color: rgb(186, 218, 85) !important;
    	&:hover {
    		background-color: #a7c44c !important;
    	}
    	&:focus {
    		box-shadow: 0 0 2px rgba(186, 218, 85, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05) !important;
    	}
    	&:active {
    		background-color: #94ae44 !important;
    	}
	}
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &-button {
    text-align: center;
      width: 10vw;
      line-height: 10vw;
      display: block;
      font-size: 8vw;
      color: white;
      background-color: #bada55;
      border-radius: 2vw;
      position: absolute;
      top: 5vw;
    opacity: 0.85;

      &.back {
        left: 5vw;
      }

      &.photo {
        right: 5vw;
      }

      &.share {
        right: 5vw;
        top: 17.5vw;
        &.no-camera {
          top: 5vw;
        }
      }
  }

  &-button:hover {
    opacity: 1;
    cursor: pointer;
  }
}