body {
	font-family: Arial, sans-serif;
	background-color: #bada55;
}

.selector {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;

	&-item span:before {
		display: block;
		font-size: 16vw;
	}

	&-item {
		display: flex; 
	    flex-basis: 50%;  
	    justify-content: center;
		text-align: center;
	    flex-direction: column;
		width: 50%;
		font-size: 4vw;
		color: white;
	}

	&-item:hover {
		opacity: 0.65;
		background: #a7c44c;
		cursor: pointer;
	}

}